ion-content{
	--background:#f4f6f9;
	background:#f4f6f9;
	--keyboard-offset: 0 !important;
}
.menuIcon{
	font-size:22px;
	color:#FF7901;
}
.iconStyle{
	font-size:30px;
	color:#ffffff;
}
.noteInformation{
 color:#000001;
 font-size:14px;
 line-height: 26px;
}
.image{
	width:100%;
	height:100%;
	border-radius:10px;
}
/*all data form*/
