<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="{{menuDirection}}">
       <div (click)="functionOpenMenue()"><ion-icon name="menu" class="iconStyle"></ion-icon></div>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="{{menuDirectionTow}}">
       <div><ion-icon name="notifications" class="iconStyle"></ion-icon></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<div class="backLogin padding-top_15 padding-bottom_15">	
	<div class="margin_20">
    	<img src="../../assets/images/FieldServe-Elite-Logo.png" class="imageLogo">
    </div>
    <form style="display: contents;" (ngSubmit)="forgotPassword()"><!------(ngSubmit)="checkUser()"--->
    <div>
        <div class="margin_10">
            <ion-item class="ionItemStyle {{errorEmailUserName}}" lines="none">
                <ion-icon slot="start" class="iconAt" name="at-circle"></ion-icon>
                <ion-input type="text" [(ngModel)]="emailUserName" [ngModelOptions]="{standalone: true}" placeholder="{{email_user_name_placeholder}}" (ionInput)="checkEmailUserName($event)"></ion-input>
            </ion-item>
            <div class="errorMessage" *ngIf="isErrorEmailUserName == 0">{{error_message_email_user_name}}</div>
        </div>
    </div>
    <div class="margin_10 login" (click)="login()">{{forgot_password_backe}}</div>
    <div class="margin_20">
    	<ion-button class="width_60_per" mode="ios" (click)="forgotPassword()">{{forgot_password_button}}</ion-button>
    </div>
    <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
    </form>
</div>
</ion-content>
