ion-content{
	--background:#f4f6f9 !important;
	background:#f4f6f9 !important;
		--keyboard-offset: 0 !important;
}
.imageLogo{
	width:50%;
}
.content{
	font-size: 15px;
    font-weight: 600;
    color: #000001;
}