<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="{{menuDirection}}">
       <div (click)="functionOpenMenue()"><ion-icon name="menu" class="iconStyle"></ion-icon></div>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-title class="todayTime">{{today}}</ion-title>
    <ion-buttons slot="{{menuDirectionTow}}">
       <div *ngIf="showNotificationIcon == 1"><ion-icon name="notifications" class="iconStyle"></ion-icon></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div style="margin-bottom:50px">
    	<div *ngIf="workorders!=0">
            <div class="text-align_end margin-top_10 margin-left_10  margin-right_10">
            <img src="../../assets/images/sort1.png" class="sortIcon" (click)='selectSortingBy(sortingData)' *ngIf="sortingData == 1">
            <img src="../../assets/images/sort2.png" class="sortIcon" (click)='selectSortingBy(sortingData)' *ngIf="sortingData == 2">
            </div>
            <div *ngFor="let items of returnWorkordersArray;let i=index" class="workordersName">
                <div>
                    <ion-grid style="padding:0px">
                        <ion-row style="padding:0px">
                            <ion-col size="11" class="text-align_start">
                                <div class="workEventName padding-left_5 padding-right_5"><span>{{items.ordersId}}|</span> {{items.eventName}}</div>
                                <div class="workordersInformation padding-top_3 padding-left_5 padding-right_5" *ngIf="items.firstName !== null">{{items.firstName}} {{items.middleName}} {{items.lastName}}</div>
                                <div class="workordersInformation padding-top_3" *ngIf="items.streetName !== null"><ion-icon name="location" class="infoIcon"></ion-icon>{{items.streetNo}}, {{items.streetName}}, {{items.addressLineOne}}</div>
                                <div class="workordersInformation padding-top_3 time">
                                	<ion-grid style="padding:0px">
                                        <ion-row style="padding:0px">
                                            <ion-col size="6" class="text-align_start" *ngIf="items.scheduledTimeType == 1 && items.specificTime !== null">
                                            	<div><ion-icon name="time" class="infoIcon" style="vertical-align:text-bottom;font-size:18px"></ion-icon> {{items.specificTime}}</div>
                                            </ion-col>
                                            <ion-col size="6" class="text-align_end">
                                            	<div *ngIf='items.hours!=0 && items.minutes!=0' >
                                                	<ion-icon name="time" class="infoIcon" style="vertical-align:text-top;font-size:18px"></ion-icon> {{items.hours}} {{hours}} {{items.minutes}} {{minutes}}
                                                </div>
                                                <div *ngIf='items.hours!=0 && items.minutes==0' >
                                                	<ion-icon name="time" class="infoIcon" style="vertical-align:text-top;font-size:18px"></ion-icon> {{items.hours}} {{hours}}
                                                </div>
                                                <div *ngIf='items.minutes!=0 && items.hours==0' >
                                                	<ion-icon name="time" class="infoIcon" style="vertical-align:text-top;font-size:18px"></ion-icon> {{items.minutes}} {{minutes}}
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                                <div class="workordersInformation padding-top_3 time" *ngIf="items.scheduledTimeType == 2 && items.rangeStartTime!==null && items.rangeEndTime!==null">
                                    <ion-grid style="padding:0px">
                                        <ion-row style="padding:0px">
                                            <ion-col size="4" class="text-align_start">
                                            	<ion-icon name="time" class="infoIcon" style="vertical-align:text-top;font-size:18px"></ion-icon> {{items.rangeStartTime}}
                                            </ion-col>
                                              <ion-col size="4" class="text-align_end">
                                            	<ion-icon name="time" class="infoIcon" style="vertical-align:text-top;font-size:18px"></ion-icon> {{items.rangeEndTime}}
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </ion-col>
                            <ion-col size="1" class="text-align_end">
                                <div>
                                    <ion-icon name="ellipsis-horizontal-outline" id="popover-button_{{i}}" class="menuIcon"></ion-icon>
                                    <ion-popover trigger="popover-button_{{i}}" [dismissOnSelect]="true">
                                      <ng-template>
                                        <ion-content>
                                          <ion-list>
                                        	<ion-item [button]="true" [detail]="false" (click)="functionCustomerInformation(items.customerId,items.eventId,items.ordersId)">{{workorders_options_one}}</ion-item>
                                            <ion-item [button]="true" [detail]="false" (click)="functionNotifi();">{{workorders_options_tow}}</ion-item>
                                            <ion-item [button]="true" [detail]="false" id="popover-button_Data">{{workorders_options_ten}}</ion-item>
                                            <ion-popover trigger="popover-button_Data" side="{{floatD}}" [dismissOnSelect]="true">
                                              <ng-template>
                                                <ion-content>
                                                  <ion-list>
                                                  <ion-item [button]="true" [detail]="false" id="popover-button_Data" (click)="functionStartWorkorder(items.eventName,items.eventId,items.ordersId,items.workSiteAddressId,items.siteAddGeolocation);">{{workorders_options_three}}</ion-item>
                                                    <ion-item [button]="true" [detail]="false" (click)="functionCompleteTasks(items.eventId,items.ordersId,items.workSiteAddressId,items.barcodeRequired,2)">{{tasks_status_one}}</ion-item>
                                                    <ion-item [button]="true" [detail]="false" (click)="functionCompleteTasks(items.eventId,items.ordersId,items.workSiteAddressId,items.barcodeRequired,3)">{{tasks_status_tow}}</ion-item>
                                                    <ion-item [button]="true" [detail]="false" (click)="functionCompleteTasks(items.eventId,items.ordersId,items.workSiteAddressId,items.barcodeRequired,4)">{{tasks_status_three}}</ion-item>
                                                    <ion-item [button]="true" [detail]="false" (click)="functionCompleteTasks(items.eventId,items.ordersId,items.workSiteAddressId,items.barcodeRequired,6)" *ngIf="branchType==3 && items.approveStatus==1">{{tasks_status_five}}</ion-item>
                                                  </ion-list>
                                                </ion-content>
                                              </ng-template>
                                            </ion-popover>
                                         	<ion-item [button]="true" [detail]="false" (click)="functionInstructions(items.eventId,items.ordersId)">{{workorders_options_nine}}</ion-item>
                                            <ion-item [button]="true" [detail]="false" (click)="functionGoLocation(items.siteAddGeolocation)">{{workorders_options_five}}</ion-item>
                                          	<ion-item [button]="true" [detail]="false" (click)="functionFollowupWorkorder(items.eventId,items.ordersId)">{{workorder_followup}}</ion-item>
                                            <ion-item [button]="true" [detail]="false" (click)="functionLocatioInformation(items.eventId,items.ordersId,items.workSiteAddressId)">{{workorders_options_seven}}</ion-item>
                                          </ion-list>
                                        </ion-content>
                                      </ng-template>
                                    </ion-popover>
                                </div>
                                <div (click)="functionCallNumber(items.extraMobile)"><ion-icon name="call" class="infoIcon"></ion-icon></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
         
    </div>
    <div *ngIf="workorders==0 || checkRoute==2">
         <div class="divIconNoOrders">
            <img src="../../assets/images/noUse.png" class="imageIcon">
        </div>
        <div class="errorNoDataLarge">{{error_no_orders_large}}</div>
        <div class="errorNoDataSmall">{{error_no_orders_small}}</div>
    </div>
    <div *ngIf="inDayes==1 && checkRoute == 1 && checkRoute != 2">
    	<div class="divButtonNoOrders">
        	 <ion-button class="width_60_per" mode="ios" (click)="functionEmployeeStartRoute()">{{start_route}}</ion-button>
        </div>
    </div>
</ion-content>
