ion-content{
	--background:#f4f6f9;
	background:#f4f6f9;
	--keyboard-offset: 0 !important;
}
.iconStyle{
	font-size:30px;
	color:#ffffff;
}
/*all data form*/
.ionItemStyleSmall{
	border-radius: 8px;
    border:none;
	--padding-start:8px;
	--inner-padding-end:8px;
	background:#ffffff;
	--background:#ffffff;
	--min-height:35px;
}
ion-select {
	--placeholder-color:#FF7901;
	--placeholder-opacity:1;
	color:#FF7901 !important;
	font-size:14px;
	min-height:25px;
}
ion-select::part(icon) { 
	color: #FF7901 !important;
	opacity: 1;
}
.workordersName{
	background: white;
	border-radius: 7px;
	margin: 0.5rem !important;
	padding: 7px;
	box-shadow: 0px 1px 4px 1px rgba(255,121,1,0.4);
-webkit-box-shadow: 0px 1px 4px 1px rgba(255,121,1,0.4);
-moz-box-shadow: 0px 1px 4px 1px rgba(255,121,1,0.4);
	cursor: pointer;
}
.infoIcon{
	font-size:17px;
	color:#FF7901;
}
.workordersInformation{
	font-size:14px;
	color:#000001;
}
.menuIcon{
	font-size:25px;
	color:#FF7901;
}
.buttonScan {
	margin-top:0px;
    --background: #FF7901;
    --background-activated: #f47920;
    --background-activated-opacity: #f47920;
    --color-activated: black;
    --ripple-color: black;
    --border-radius: 8px;
    min-height: 10px;
    --padding-top: 9px;
    --padding-bottom: 9px;
    --padding-start: 0em;
    --padding-end: 0em;
}
.errorNoDataLarge{
	text-align: center;
    color: #000001;
    font-size: 17px;
	margin-top: 1vh;
}
.errorNoDataSmallOne{
	text-align: center;
    color: #000001;
    font-size: 14px;
	margin-top: 45vh;
}
.errorNoDataSmall{
	text-align: center;
    color: #000001;
    font-size: 14px;
	margin-top: 1vh;
}
.divIconNoOrders{
	text-align: center;
    margin-top: 25vh;
}
.divButtonNoOrders{
	text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.imageIcon{
	width:25%
}
.sortIcon{
	width:40px
}
.parcodeNumbe{
	font-size:30px;
	color:#FF7901;
}
/*edit*/
.workEventName{
	font-size:14px;
	font-weight:bold;
	color:#000001;
}
.time{
	font-weight:bold
}
.lineClass{
	width:75%;
	margin:7px auto;
	border-bottom:2px solid #FF7901;
}
.todayTime{
	font-size:12px;
	color:#ffffff;
}
.durationTime{
	color:#d5d5d5;
	font-family:emoji;	
}

