<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="{{menuDirection}}">
       <div (click)="functionOpenMenue()"><ion-icon name="menu" class="iconStyle"></ion-icon></div>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="{{menuDirectionTow}}">
       <div *ngIf="showNotificationIcon == 1"><ion-icon name="notifications" class="iconStyle"></ion-icon></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	 <div class="padding-top_10 padding-left_5 padding-right_5 width_100_per text-align_center">
        <div class="divListNotActiv" (click)="functionInspectionPoints(zoneId)">
            <div class="padding-top_5"><img src="../../assets/images/inspectionpointsGray.png" style="width:25px"></div>
            <div class="iconTextNotActiv">{{ip_type_menue}}</div>
        </div>
        <div class="divListNotActiv" (click)="functionObservation(inspId,inspctionType)">
           <div class="padding-top_5"><img src="../../assets/images/observationGray.png" style="width:25px"></div>
            <div class="iconTextNotActiv">{{ip_observation_menue}}</div>
        </div>
         <div class="divListNotActiv" (click)="functionTargetpests(inspId)">
            <div class="padding-top_5"><img src="../../assets/images/targetpestGray.png" style="width:25px"></div>
            <div class="iconTextNotActiv">{{ip_target_Pest_menue}}</div>
        </div>
         <div class="divListActiv">
             <div class="padding-top_5"><img src="../../assets/images/planetsOrange.png" style="width:25px"></div>
            <div class="iconTextActiv">{{ip_plants_menue}}</div>
        </div>
          <div class="divListNotActiv" (click)="functionMaterial(inspId)">
            <div class="padding-top_5"><img src="../../assets/images/materialGray.png" style="width:25px"></div>
            <div class="iconTextNotActiv">{{ip_target_material_menue}}</div>
        </div>
         <div class="divListNotActiv" (click)="functionProduct(inspId)">
            <div class="padding-top_5"><img src="../../assets/images/productGray.png" style="width:25px"></div>
            <div class="iconTextNotActiv">{{ip_target_planet_menue}}</div>
        </div>
    </div> 
	<div>
    	<div *ngIf="plants!=0">
            <div *ngFor="let items of returnPlantsArray;let i=index" class="workordersName padding-top_5 padding-left_5 padding-right_5">	
               <div>
                    <ion-grid style="padding:0px">
                        <ion-row style="padding:0px">
                            <ion-col size="11" class="text-align_start">
                                <div class="padding-left_5 padding-right_5">
                                   <ion-grid style="padding:0px">
                                        <ion-row style="padding:0px">
                                            <ion-col size="6" class="text-align_start">
                                                <div class="workEventName">{{plants_name}}</div>
                                                <div class="workordersInformation">{{items.plantName}}</div>
                                            </ion-col>
                                              <ion-col size="6" class="text-align_start">
                                                <div class="workEventName">{{plants_amount}}</div>
                                                <div class="workordersInformation">{{items.amount}}</div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid> 
                                </div>
                            </ion-col>
                            <ion-col size="1" class="text-align_end">
                             	<ion-icon name="ellipsis-horizontal-outline" id="popover-button_{{i}}" class="menuIcon"></ion-icon>
                                <ion-popover trigger="popover-button_{{i}}" [dismissOnSelect]="true">
                                  <ng-template>
                                    <ion-content>
                                      <ion-list>
                                        <ion-item [button]="true" [detail]="false" (click)="functionPlantsEdit(items.id,items.plantId,items.amount)">{{plants_options_One}}</ion-item>
                                        <ion-item [button]="true" lines="none"  [detail]="false" (click)="functionPlantsDelete(items.id)">{{plants_options_tow}}</ion-item>
                                      </ion-list>
                                    </ion-content>
                                  </ng-template>
                                </ion-popover>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
         <div slot="fixed" class="divButtonClass">
              <ion-grid style="padding:0px">
                <ion-row style="padding:0px">
                    <ion-col size="6" class="text-align_start">
                        <div>
            				<ion-button class="width_50_px hight_50_px" mode="ios" (click)="functionEndInspectionPoint(inspId)"><ion-icon name="checkmark-done-outline" class="addIconData"></ion-icon></ion-button>
                        </div>
                    </ion-col>
                      <ion-col size="6" class="text-align_end">
                       <div>
            			<ion-button mode="ios" class="width_50_px hight_50_px" (click)="functionPlantsAdd(inspId)"><ion-icon name="add" class="addIconData"></ion-icon></ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid> 
        </div>
         <div *ngIf="plants==0">
            <div class="divIconNoOrders">
                <img src="../../assets/images/noUse.png" class="imageIcon">
            </div>
            <div class="errorNoDataLarge">{{error_plants_small}}</div>
            <div class="errorNoDataSmall">{{error_plants_larg}}</div>
        </div>
    </div>
</ion-content>