ion-content{
	--background:#f4f6f9;
	background:#f4f6f9;
	--keyboard-offset: 0 !important;
}
.iconStyle{
	font-size:30px;
	color:#ffffff;
}
/*all data form*/
ion-select {
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#b6b6b5 !important;
	font-size:14px;
}
ion-input{
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#b6b6b5;
	font-size:14px;
}
ion-textarea{
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#b6b6b5;
	font-size:14px;
}